# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

BasicSensorDemoMain_Handler_onInit.lua
BasicSensor_Handler_onEnterFrame.lua
BasicSensor_Handler_onSensorCollision.lua
BasicSensor_Handler_onSensorCollision.lua
Crate_Function_setupDynamics.lua
Crate_Handler_onInit.lua
Crate_Handler_onInit.lua
FPSCamera_Function_createHUD.lua
FPSCamera_Function_setupDynamics.lua
FPSCamera_Function_setupDynamics.lua
FPSCamera_Function_centerMouse.lua
FPSCamera_Function_centerMouse.lua
FPSCamera_Function_showMouse.lua
FPSCamera_Function_showMouse.lua
FPSCamera_Function_updateVision.lua
FPSCamera_Function_updateDynamics.lua
FPSCamera_Function_updateDynamics.lua
FPSCamera_Function_updateWeapon.lua
FPSCamera_Handler_onCaptureInput.lua
FPSCamera_Handler_onCaptureInput.lua
fpsCamAi_Function_centermouse.lua
fpsCamAi_Handler_onEnterFrame.lua
fpsCamAi_Handler_onEnterFrame.lua
